<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Amazon-API</h1>
        </div>
    </div>
    <div class="row ">
        <div class="col-12 col-sm-auto">
            <h2 class="text-center">Welcome to amazon api!</h2>
            <p class="text-center">This is an API created as a practice of node.js using various technologies and libraries to recognize the
                operation of this backend framework for frontend, technologies such as mongo, express, handlebars are
                used among others, let's go for it.</p>
        </div>
    </div>
    <div class="row"></div>
</div>